// Font.
$font: (primary: ('Brandon Grotesque Black',
    sans-serif,
  ),
  secondary: ('Open Sans',
    sans-serif,
  ));

// Font sizes.
$fs-h1: 58px;
$fs-h1-m: 38px;
$fs-h1-s: 32px;
$fs-h2: 44px;
$fs-h2-m: 32px;
$fs-h2-s: 24px;
$fs-h3: 32px;
$fs-h3-m: $fs-h2-s;
$fs-h3-s: 20px;
$fs-h4: 22px;
$fs-h4-m: 16px;
$fs-p: 16px;

// Palette.
$palette: (primary: #16116d,
  secondary: darken(#535556, 15%),
  text: #232323,
  meta: lighten(#535556, 20%),
  border: lighten(#535556, 100%),
  form: #535556,
  bg: #fff,
  bg-grey: #f7f9fb,
  accent: #16116d,
  accent-light: lighten(#16116d, 20%),
  accent-alt: #FFD600,
  accent-alt-light: lighten(#FFD600, 30%),
  // WARNING: Do not update colors below
  accent-purple: #8b578c,
  accent-purple-alt: #FFD600,
  accent-green: #438945,
  accent-green-alt: #73bb75,
  accent-orange: #fe8c00,
  accent-orange-alt: #f83600,
  background-dark: #1A1A1A,
);

@import 'imports/functions';
@import 'imports/mixins';
@import 'imports/reset';
@import 'imports/general';
@import 'imports/icons';
@import 'imports/structure';
@import 'imports/header';
@import 'imports/posts';
@import 'imports/sections';
@import 'imports/footer';
@import 'imports/palettes';
@import 'imports/banner';